<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Calendário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="light" lines="none" style="--min-height: 20px;">
    <ion-label class="ion-text-center" style="margin: 0; margin-top: 10px; margin-bottom: 5px;">
      {{ this.calendarService.getViewTitle() }}
    </ion-label>
  </ion-item>

  <ion-toolbar color="light" style="--min-height: 20px; --padding-top: 0px; --padding-bottom: 0px;">
    <ion-buttons slot="start">
      <ion-button (click)="this.calendarService.today()">Hoje</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="this.calendarService.changeMode('month')">Mês</ion-button>
      <ion-button (click)="this.calendarService.changeMode('week')">Semana</ion-button>
      <ion-button (click)="this.calendarService.changeMode('day')">Dia</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!----------------- FORMULARIO ADD EVENT ----------------->
  <ion-button color="light" expand="full" style="margin: 0;" size="small"
    (click)="this.collapseEvent = !this.collapseEvent">
    <ion-icon *ngIf="this.collapseEvent" name="arrow-dropdown"></ion-icon>
    <ion-icon *ngIf="!this.collapseEvent" name="arrow-dropup"></ion-icon>
    Nova Classe
  </ion-button>

  <ion-list style="margin-bottom: 0px; --ion-background-color: #f4f5f8;" *ngIf="!this.collapseEvent">
    <ion-item>
      <ion-label>Profissional:</ion-label>
      <ion-input type="text" [(ngModel)]="this.inputTemplate.professional" placeholder="Ex.: Marcos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Dias:</ion-label>
      <div class="weekDays-selector">
        <input type="checkbox" id="weekday-dom" class="weekday" [(ngModel)]="this.inputTemplate.days[0]" />
        <label for="weekday-dom">D</label>
        <input type="checkbox" id="weekday-seg" class="weekday" [(ngModel)]="this.inputTemplate.days[1]" />
        <label for="weekday-seg">S</label>
        <input type="checkbox" id="weekday-ter" class="weekday" [(ngModel)]="this.inputTemplate.days[2]" />
        <label for="weekday-ter">T</label>
        <input type="checkbox" id="weekday-qua" class="weekday" [(ngModel)]="this.inputTemplate.days[3]" />
        <label for="weekday-qua">Q</label>
        <input type="checkbox" id="weekday-qui" class="weekday" [(ngModel)]="this.inputTemplate.days[4]" />
        <label for="weekday-qui">Q</label>
        <input type="checkbox" id="weekday-sex" class="weekday" [(ngModel)]="this.inputTemplate.days[5]" />
        <label for="weekday-sex">S</label>
        <input type="checkbox" id="weekday-sab" class="weekday" [(ngModel)]="this.inputTemplate.days[6]" />
        <label for="weekday-sab">S</label>
      </div>
    </ion-item>

    <ion-item>
      <ion-label>Repetir pelas próximas:</ion-label>
      <ion-input type="number" [(ngModel)]="this.inputTemplate.weekRepeat" placeholder="Ex.: 4"></ion-input>
      <ion-label>semanas</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Duração:</ion-label>
      <ion-input type="number" [(ngModel)]="this.inputTemplate.duration" placeholder="Ex.: 55"></ion-input>
      <ion-label>min</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Início:</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="this.inputTemplate.startTime"
        placeholder="Ex.: 14:00"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Qtd. de aulas:</ion-label>
      <ion-input type="number" [(ngModel)]="this.inputTemplate.classQt" placeholder="Ex.: 2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Modalidade:</ion-label>
      <ion-input type="text" [(ngModel)]="this.inputTemplate.modality" placeholder="Ex.: Pilates"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Qtd. de alunos:</ion-label>
      <ion-input type="number" [(ngModel)]="this.inputTemplate.studentQt" placeholder="Ex.: 5"></ion-input>
    </ion-item>

    <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="!this.validateForm()">Adicionar Classe
    </ion-button>
  </ion-list>

  <!----------------- COMPONENTE CALENDARIO ----------------->
  <calendar [eventSource]="this.eventSource" [calendarMode]="this.calendarService.getCalendarMode()"
    [currentDate]="this.calendarService.getCurrentDate()"
    (onEventSelected)="this.calendarService.onEventSelected($event)"
    (onTitleChanged)="this.calendarService.onViewTitleChanged($event)" (onTimeSelected)="this.onTimeSelected($event)"
    startHour="6" endHour="20" step="60" startingDayWeek="0" 
    [monthviewEventDetailTemplate]="monthviewEventDetail" [weekviewNormalEventTemplate]="weekviewNormalEventTemplate"
    [dayviewNormalEventTemplate]="dayviewNormalEventTemplate">
  </calendar>

  <!----------------- TEMPLATES ----------------->
  <!-- Lista de eventos na visao de mes -->
  <ng-template #monthviewEventDetail let-showEventDetail="showEventDetail" let-selectedDate="selectedDate"
    let-noEventsLabel="noEventsLabel">
    <ion-item *ngIf="selectedDate.events.length == 0">
      {{ noEventsLabel }}
    </ion-item>
    <ion-item *ngFor="let event of selectedDate.events" (click)="showClassDetails(event)">
      {{ event.startTime.toISOString().slice(11,16) }} - {{ event.endTime.toISOString().slice(11,16) }} |
      {{ event.modality }}
    </ion-item>
  </ng-template>

  <!-- template do evento na visao de semana -->
  <ng-template #weekviewNormalEventTemplate let-displayEvent="displayEvent">
    <div class="calendar-event-inner" [ngStyle]="{'background-color': bgColor}">{{displayEvent.event.modality}}</div>
  </ng-template>

  <!-- template do evento na visao de dia -->
  <ng-template #dayviewNormalEventTemplate let-displayEvent="displayEvent">
    <div class="calendar-event-inner" [ngStyle]="{'background-color': bgColor}">
      <ion-grid>
        <ion-row>{{displayEvent.event.modality}} - {{displayEvent.event.professional}}</ion-row>
        <ion-row>{{displayEvent.event.students.length}}/{{displayEvent.event.studentQt}} estudantes</ion-row>
      </ion-grid>
    </div>
  </ng-template>

</ion-content>