<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item color="light" lines="none" style="--min-height: 20px;">
    <ion-label class="ion-text-center" style="margin: 0; margin-top: 10px; margin-bottom: 5px;">
      {{ viewTitle }}
    </ion-label>
  </ion-item>

  <ion-toolbar color="light" style="--min-height: 20px; --padding-top: 0px; --padding-bottom: 0px;">
    <ion-buttons slot="start">
      <ion-button (click)="this.calendarService.today()">Today</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="this.calendarService.changeMode('month')">Month</ion-button>
      <ion-button (click)="this.calendarService.changeMode('week')">Week</ion-button>
      <ion-button (click)="this.calendarService.changeMode('day')">Day</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-button color="light" expand="full" style="margin: 0;" size="small"
    (click)="this.collapseEvent = !this.collapseEvent">
    <ion-icon *ngIf="this.collapseEvent" name="arrow-dropdown"></ion-icon>
    <ion-icon *ngIf="!this.collapseEvent" name="arrow-dropup"></ion-icon>
    New Event
  </ion-button>

  <ion-list style="margin-bottom: 0px; --ion-background-color: #f4f5f8" *ngIf="!this.collapseEvent">
    <ion-item>
      <ion-input type="text" placeholder="Title" [(ngModel)]="this.calendarService.event.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Description" [(ngModel)]="this.calendarService.event.desc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Start</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="this.calendarService.event.startTime.toISOString()"
        [min]="minDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="this.calendarService.event.endTime.toISOString()"
        [min]="minDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>All Day?</ion-label>
      <ion-checkbox [(ngModel)]="this.calendarService.event.allDay"></ion-checkbox>
    </ion-item>
    <ion-button fill="outline" expand="block" (click)="this.calendarService.addEvent()" [disabled]="this.calendarService.event.title == ''">Add Event</ion-button>
  </ion-list>

  <calendar [eventSource]="this.calendarService.getEventSource()" [calendarMode]="this.calendarService.getCalendarMode()" [currentDate]="this.calendarService.getCurrentDate()"
    (onEventSelected)="this.calendarService.onEventSelected($event)" (onTitleChanged)="this.calendarService.onViewTitleChanged($event)"
    (onTimeSelected)="this.calendarService.onTimeSelected($event)" startHour="6" endHour="20" step="30" startingDayWeek="0">
  </calendar>

</ion-content>