<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!----------------- BOTOES DE ACAO ----------------->
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button color="light">
      <ion-icon name="calendar"></ion-icon>
    </ion-fab-button>

    <ion-fab-list>
      <ion-fab-button (click)="addEventModal()" data-desc="Nova classe" color="medium">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="alocateStudentsModal()" data-desc="Alocar alunos" color="medium">
        <ion-icon name="contacts"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!----------------- CABEÇALHO ----------------->
  <ion-item color="light" lines="none" style="--min-height: 20px;">
    <ion-label class="ion-text-center" style="margin: 0; margin-top: 10px; margin-bottom: 5px;">
      {{ this.calendarService.getViewTitle() }}
    </ion-label>
  </ion-item>

  <ion-toolbar color="light" style="--min-height: 20px; --padding-top: 0px; --padding-bottom: 0px;">
    <ion-buttons slot="start">
      <ion-button (click)="this.calendarService.today()">Hoje</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="this.calendarService.changeMode('month')">Mês</ion-button>
      <ion-button (click)="this.calendarService.changeMode('week')">Semana</ion-button>
      <ion-button (click)="this.calendarService.changeMode('day')">Dia</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!----------------- COMPONENTE CALENDARIO ----------------->
  <calendar [eventSource]="this.eventSource" [calendarMode]="this.calendarService.getCalendarMode()"
    [currentDate]="this.calendarService.getCurrentDate()"
    (onEventSelected)="this.onEventSelected($event)" (onCurrentDateChanged)="this.calendarService.onCurrentDateChanged($event)"
    (onTitleChanged)="this.calendarService.onViewTitleChanged($event)" (onTimeSelected)="this.calendarService.onTimeSelected($event)"
    startHour="6" endHour="20" step="0.5" startingDayWeek="0" 
    [monthviewEventDetailTemplate]="monthviewEventDetail"
    [weekviewNormalEventSectionTemplate]="weekviewNormalEventSectionTemplate" [weekviewNormalEventTemplate]="weekviewNormalEventTemplate"
    [dayviewNormalEventSectionTemplate]="dayviewNormalEventSectionTemplate" [dayviewNormalEventTemplate]="dayviewNormalEventTemplate">
  </calendar>

  <!----------------- TEMPLATES ----------------->
  <!-- Lista de eventos na visao de mes -->
  <ng-template #monthviewEventDetail let-showEventDetail="showEventDetail" let-selectedDate="selectedDate"
    let-noEventsLabel="noEventsLabel">
    <ion-item *ngIf="selectedDate.events.length == 0">
      {{ noEventsLabel }}
    </ion-item>
    <ion-item *ngFor="let event of selectedDate.events" (click)="showClassDetails(event)">
      {{ event.startTime.toLocaleTimeString().slice(0,5) }} - {{ event.endTime.toLocaleTimeString().slice(0,5) }} |
      {{ event.modality.name }}: {{ event.professional.name }}
    </ion-item>
  </ng-template>

  <!-- template do evento na visao de semana -->
  <!-- seçao/bloco -->
  <ng-template #weekviewNormalEventSectionTemplate let-tm="tm" let-hourParts="hourParts"
    let-eventTemplate="eventTemplate">
    <div [ngClass]="{'calendar-event-wrap': tm.events}" *ngIf="tm.events">
      <div *ngFor="let displayEvent of tm.events" class="calendar-event" tappable
        (click)="this.onEventSelected(displayEvent.event);"
        [ngStyle]="{top: (37*displayEvent.startOffset/hourParts)+'px',
        left: 100/displayEvent.overlapNumber*displayEvent.position+'%', 
        width: 100/displayEvent.overlapNumber+'%', 
        height: 37 * (displayEvent.endIndex - displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset) / hourParts) + 'px'}">
        <ng-template [ngTemplateOutlet]="eventTemplate" [ngTemplateOutletContext]="{displayEvent:displayEvent}">
        </ng-template>
      </div>
    </div>
  </ng-template>
  <!-- inner evento -->
  <ng-template #weekviewNormalEventTemplate let-displayEvent="displayEvent">
    <div class="calendar-event-inner" [ngStyle]="{'background-color': bgColor}">
      {{displayEvent.event.modality.name}}
    </div>
  </ng-template>

  <!-- template do evento na visao de dia -->
  <!-- secao/bloco -->
  <ng-template #dayviewNormalEventSectionTemplate let-tm="tm" let-hourParts="hourParts" let-eventTemplate="eventTemplate">
    <div [ngClass]="{'calendar-event-wrap': tm.events}" *ngIf="tm.events">
      <div *ngFor="let displayEvent of tm.events" class="calendar-event" tappable
        (click)="this.onEventSelected(displayEvent.event)"
        [ngStyle]="{top: (37*displayEvent.startOffset/hourParts)+'px',
        left: 100/displayEvent.overlapNumber*displayEvent.position+'%', 
        width: 100/displayEvent.overlapNumber+'%', 
        height: 37 * (displayEvent.endIndex - displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset) / hourParts) + 'px'}">
        <ng-template [ngTemplateOutlet]="eventTemplate" [ngTemplateOutletContext]="{displayEvent:displayEvent}">
        </ng-template>
      </div>
    </div>
  </ng-template>
  <!-- inner evento -->
  <ng-template #dayviewNormalEventTemplate let-displayEvent="displayEvent">
    <div class="calendar-event-inner" [ngStyle]="{'background-color': bgColor}">
      <ion-grid>
        <ion-row>{{displayEvent.event.modality.name}} - {{displayEvent.event.professional.name}}</ion-row>
        <ion-row>{{displayEvent.event.students.length}}/{{displayEvent.event.studentQt}} estudantes</ion-row>
      </ion-grid>
    </div>
  </ng-template>

</ion-content>