ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  font-size: 13px;
  z-index: 1;
  right: 46px;
  bottom: 5px;
  background-color: var(--ion-color-light);
  padding: 5px;
  border-radius: 15px;
  color: gray;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}

calendar {
  // Tirar a secao all day
  .weekview-allday-table{
    display: none;
  } 
  .weekview-normal-event-container{
    margin-top: 37px;
  }
  .dayview-allday-table {
    display: none;
  }
  .dayview-normal-event-container{
    margin-top: 0px;
  }  
  // resto

  .calendar-event-inner {
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 2px;
    line-height: 15px;
    text-align: initial;
    vertical-align: top;
  }

  @media (max-width: 750px) {
    .calendar-event-inner {
      font-size: 12px;
    }
  }
}