<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!this.isLogged()">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem vindo!</ion-card-title>
    </ion-card-header>

    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="this.goToLogin()">Login</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="this.goToRegister()">Registrar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card>
</ion-content>

<ion-content *ngIf="this.isLogged()">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem vindo, {{ this.getUsername() }}!</ion-card-title>
    </ion-card-header>

    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="this.logoff()">Logoff</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card>
</ion-content>
