<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalhes da Aula</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header style="justify-content: center;" color="light">
      <ion-label style="font-size: larger;">{{ this.event.modality.name }}</ion-label>
    </ion-list-header>
    <ion-item>Profissional: {{ this.event.professional.name }}</ion-item>
    <ion-item>Início: {{ this.event.startTime.toLocaleDateString().slice(0,5) }} -
      {{ this.event.startTime.toLocaleTimeString().slice(0,5) }}</ion-item>
    <ion-item>Fim: {{ this.event.endTime.toLocaleDateString().slice(0,5) }} -
      {{ this.event.endTime.toLocaleTimeString().slice(0,5) }}</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Alunos - {{ this.event.students.length }}/{{ this.event.studentQt }}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let student of this.event.students">{{ student.name }}</ion-item>
    <ion-item *ngFor="let student of this.selectedStudents">{{ student.name }}</ion-item>
    <ion-item
      *ngFor="let i of counter(this.event.studentQt - (this.event.students.length + this.selectedStudents.length))">
      <ion-icon name="add-circle-outline" slot="end" (click)="addStudent()"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-button expand="block" fill="outline" color="danger" (click)="this.deleteClass()">Cancelar aula</ion-button>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" (click)="this.closeModal()">Fechar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="outline" color="success" (click)="this.submit()" [disabled]="this.selectedStudents.length == 0">
        Atualizar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>